@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite-classic-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beausite Classic";
  src: url("/fonts/beausite-classic-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(body) {
  background-color: black;
  color: white;
}

